img {
    transition: transform .7s ease-in-out;
  }
  img:hover {
    transform:rotate3d(360);
  }

footer {
    background-color: #8EA6C9;
    padding: 40px 10px;
    text-align: center;
}
footer a, footer h3 {
    color: white; /* make text visible */
}


footer .pages {
    text-align: left;
}


footer .pages a {
    text-decoration: none;
    margin: 10px;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style:oblique;
}

footer .pages a:hover {
    color: rgb(85, 104, 244);
}

footer .contact {
    text-align: centre;
}

footer .contact h3 {
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-style:oblique;
}

footer .contact a {
    font-size: 30px;
    color: black;
    margin: 10px;
    text-decoration: none;
}

footer .contact a:hover {
    color:rgb(85, 104, 244);
}

footer .social {
    text-align: centre;
}

footer .social h3 {
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
    font-style:oblique;
    
}


footer .social a {
    font-size: 25px;
    color: black;
    margin: 5px;
    text-decoration: none;
   
}

footer .social a:hover {
    color:rgb(85, 104, 244);
}

.custom-navbar {
    background-color: #8EA6C9;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.custom-navbar .nav-link {
    color: white !important;   /* white text for contrast */
    font-weight: 500;
    transition: 0.3s;
}

.custom-navbar .nav-link:hover {
    color: #003366 !important; /* dark navy on hover */
}